{{ define "main" }}
{{ if .Site.Params.headerText }}
<div class="call-out bg_radial">
	{{ if .Site.Params.headerTitle }}
	<h1 class="main-title">
		{{ .Site.Params.headerTitle | markdownify }}
	</h1>
	{{ end }}
	<p class="main-subtitle">
		{{ .Site.Params.headerText | markdownify }}
	</p>
</div>
{{ end }}

<div class="search-container">
	<h2 class="taxo-title">Search</h2>
	<div class="search-wrapper">
		<input type="text" id="search-field" placeholder="{{ .Site.Data.l10n.searchFor }}"/>
        <button type="button" id="search-button">{{ .Site.Data.l10n.search }}</button>
	</div>
	<!-- /input-group -->
	<p style="text-align:right; font-size:10px;" id="found"></p>
	<hr/>
	<div id="results"></div>
</div>

<script type="text/javascript" src="https://unpkg.com/lunr/lunr.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/search.js"></script>

{{ end }}
