<div class="posts">
	<div class="tag-teaser">
	{{ range $name, $taxonomy := .Site.Taxonomies.categories -}}
		<a class="tag-chip" href="/categories/{{ $name|urlize }}">{{ $name|humanize }} - {{$taxonomy.Count}}</a>
	{{- end }}
	</div>
</div>
