<footer class="site-footer">
<p>
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Quest'<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">opera</span> di <a xmlns:cc="http://creativecommons.org/ns#" href="http://davidlab.it" property="cc:attributionName" rel="cc:attributionURL">David Ciamberlano</a> è distribuita con Licenza <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons BY-SA 4.0</a>.
</p>
<p class="text">davidlab.it {{ now.Format "2006" }} - {{ .Site.Params.copyright | markdownify }}</p>
</footer>

<!--{{ template "_internal/google_analytics.html" . }} -->
