<head>
	<title>{{ .Title}}{{ if not .IsHome }}{{ .Site.Title }}{{ end }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}
	{{ hugo.Generator }}

	{{ "<!-- CSS -->" | safeHTML }}
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">

	{{ "<!--Favicon-->" | safeHTML }}
	<link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.ico" type="image/x-icon">

	{{ with .OutputFormats.Get "rss" -}}
	{{ "<!-- RSS -->" | safeHTML }}
	{{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
	{{- end }}

	{{ "<!-- Font Awesome -->" | safeHTML }}
	<link href="{{ .Site.BaseURL }}fontawesome-free-6.0.0-beta2-web/css/fontawesome.css" rel="stylesheet">
	<link href="{{ .Site.BaseURL }}fontawesome-free-6.0.0-beta2-web/css/brands.css" rel="stylesheet">
	<link href="{{ .Site.BaseURL }}fontawesome-free-6.0.0-beta2-web/css/solid.css" rel="stylesheet">
	<link href="{{ .Site.BaseURL }}fontawesome-free-6.0.0-beta2-web/css/regular.css" rel="stylesheet">

	{{ "<!-- Google Fonts -->" | safeHTML }}
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic|Jura" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="{{ .Site.BaseURL }}js/highlight/styles/default.css">
	<script src="{{ .Site.BaseURL }}js/highlight/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

	<script src="https://cdn.websitepolicies.io/lib/cookieconsent/1.0.3/cookieconsent.min.js" defer></script><script>window.addEventListener("load",function(){window.wpcc.init({"border":"thin","corners":"normal","colors":{"popup":{"background":"#f6f6f6","text":"#000000","border":"#555555"},"button":{"background":"#555555","text":"#ffffff"}},"position":"bottom-right","padding":"small","margin":"small","fontsize":"small","content":{"href":"https://www.davidlab.it/policy","message":"Questo sito web usa alcuni cookies per assicurare una migliore esperienza di navigazione.","button":"Ho capito!"}})});</script>
</head>
