{{ with .Site.Params.social.homepage -}}
<li class="icon">
	<a href="{{ $.Site.BaseURL }}" title="{{ $.Site.Data.l10n.homepage }}">
		<i class="fa fa-fw fa-home"></i> home
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.aboutme -}}
<li class="icon">
	<a href="{{ $.Site.BaseURL }}about-me" title="{{ $.Site.Data.l10n.aboutme }}">
		<i class="fas fa-id-badge"></i> about-me &nbsp;&nbsp;&nbsp;
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.taglinks -}}
<li class="icon">
	<a href="{{ $.Site.BaseURL }}tags" title="{{ $.Site.Data.l10n.tags }}">
		<i class="fas fa-tags" aria-hidden="true"></i> tags &nbsp;&nbsp;&nbsp;
	</a>
</li>
{{- end }}

<!--{{ with .Site.Params.social.rss -}}-->
<!--<li class="icon">-->
<!--	<a href="{{ $.Site.BaseURL }}index.xml" title="{{ $.Site.Data.l10n.rssSubscribe }}">-->
<!--		<i class="fa fa-fw fa-rss"></i>-->
<!--	</a>-->
<!--</li>-->
<!--{{- end }}-->

{{ with .Site.Params.social.searchpage -}}
<li class="icon">
	<a href="{{ $.Site.BaseURL }}search" title="{{ $.Site.Data.l10n.search }}">
		<i class="fas fa-search"></i> search &nbsp;&nbsp;&nbsp;
	</a>
</li>
{{- end }}

<li class="separator">|</li>

{{ with .Site.Params.social.email -}}
<li class="icon">
	<a href='m&#97;i&#108;to&#58;in&#102;&#111;%40%64a%76idlab&#46;it' title="{{ $.Site.Data.l10n.email }}">
		<i class="fas fa-envelope"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.github -}}
<li class="icon">
	<a href="https://github.com/{{ $.Site.Params.social.github }}" title="{{ $.Site.Data.l10n.github }}">
		<i class="fab fa-github-square"></i>
	</a>
</li>
{{- end }}

{{ with .Site.Params.social.linkedin -}}
<li class="icon">
	<a href="https://www.linkedin.com/in/{{ $.Site.Params.social.linkedin }}" title="{{ $.Site.Data.l10n.linkedin }}">
		<i class="fab fa-linkedin"></i>
	</a>
</li>
{{- end }}


{{ with .Site.Params.social.twitter -}}
<li class="icon">
	<a href="https://twitter.com/{{ $.Site.Params.social.twitter }}" title="{{ $.Site.Data.l10n.twitter }}">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{{- end }}

