<div class="posts">
	{{ $paginator := .Paginate .Pages }}
	{{ range $paginator.Pages -}}
	<div class="post-teaser">
		<header>
			<h1 class="post-title">
				<a class="post-link" href="{{ .Permalink }}">
					{{ .Title }}
				</a>
			</h1>
			{{ partial "post-meta" . }}
		</header>

		<div class="excerpt">
			{{ if isset .Params "description" | and (ne .Params.description "") -}}
			{{ .Description | markdownify }}
			{{- else -}}
			{{ .Summary }}
			{{- end }}

			<br>
			<a class="button" href="{{ .Permalink }}">
				<i class="fa fa-square"></i> {{ .Site.Data.l10n.continueReading }}
			</a>
		</div>
	</div>
	{{- end }}
</div>
