<div class="pagination">
	{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) -}}
		{{ if .Paginator.HasPrev -}}
		<a href="{{ .Paginator.Prev.URL }}" class="button" >
			<i class="fa fa-chevron-left"></i>
			{{ .Site.Data.l10n.previous }}
		</a>
		{{- end }}

		<span class="button">{{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}</span>

		{{ if .Paginator.HasNext -}}
		<a href="{{ .Paginator.Next.URL }}" class="button" >
			{{ .Site.Data.l10n.next }}
			<i class="fa fa-chevron-right"></i>
		</a>
		{{- end }}
	{{- end }}
</div>
