<p class="meta">
	<i class="fa fa-calendar"></i> {{ .Date.Format "02-01-2006"}}
	&middot
	<i class="fa fa-clock-o"></i> {{ .ReadingTime }} {{ .Site.Data.l10n.readingTime }}
	<br/>
	{{ if isset .Params "tags" -}}
		{{ $tagsLen := len .Params.tags }}
		{{ if gt $tagsLen 0 -}}
		<i class="fa fa-tags"></i>
			{{ range $k, $v := (sort .Params.tags) -}}
			<a href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}">{{ . }}</a>{{ if lt $k (sub $tagsLen 1) }}, {{ end }}
			{{- end }}
		{{- end }}
	{{- end }}
	<br/>
</p>
