<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{ partial "head.html" . }}
<body>
	{{ partial "nav.html" . }}

	<div class="content">
		{{ block "main" . -}}{{- end }}
	</div>

	{{ partial "footer.html" . }}
</body>
</html>
