{{ define "main" -}}

	{{ if .Site.Params.headerText }}
	<div class="call-out bg_radial" >
		{{ if .Site.Params.headerTitle }}
		<h1 class="main-title">
			{{ .Site.Params.headerTitle | markdownify }}
		</h1>
		{{ end }}
		<p class="main-subtitle">
			{{ .Site.Params.headerText | markdownify }}
		</p>
	</div>
	{{ end }}
	<div class="tag-teaser">
		<div style="text-align: center">
			<a href="/"><i class="fas fa-reply"></i></a>&nbsp;&nbsp;
			<a href="{{ $.Site.BaseURL }}" title="{{ $.Site.Data.l10n.homepage }}">
				<i class="fas fa-house"></i>
			</a>
		</div>
		<h2 class="taxo-title">Tag: {{ .Title }}</h2>
	</div>
	{{ partial "page-list.html" . }}
	{{ partial "pagination.html" . }}
{{- end }}
