{{ define "main" }}

	{{ if .Site.Params.headerText }}
	<div class="call-out bg_radial" >
		{{ if .Site.Params.headerTitle }}
		<h1 class="main-title">
			{{ .Site.Params.headerTitle | markdownify }}
		</h1>
		{{ end }}
		<p class="main-subtitle">
			{{ .Site.Params.headerText | markdownify }}
		</p>
	</div>
	{{ end }}

<div class="tag-teaser">
	<h2 class="taxo-title">{{ .Title }}</h2>
	{{ range .Data.Terms.ByCount }}
	<div class="tag-chip">
		<div class="tag-counter">{{ .Count }}</div>
		<div class="tag-content"><a  href="/tags/{{ .Page.Title|urlize }}">{{ .Page.Title|humanize }}</a></div>
	</div>
	{{ end }}
</div>

{{ end }}
