{{ define "main" -}}
{{ if .Site.Params.headerText }}
<div class="call-out bg_radial" >
	{{ if .Site.Params.headerTitle }}
	<h1 class="main-title">
		{{ .Site.Params.headerTitle | markdownify }}
	</h1>
	{{ end }}
	<p class="main-subtitle">
		{{ .Site.Params.headerText | markdownify }}
	</p>
</div>
{{ end }}

<div class="content">
	<article>
		<header>
			<h1 class="title">{{ .Site.Data.l10n.pageNotFoundTitle }}</h1>
		</header>
		<section class="post-content">
			<span style="display: flex; justify-content: center; align-items: center;">{{ .Site.Data.l10n.pageNotFoundSubtitle }}</span>
		</section>
	</article>

{{- end }}
