{{ define "main" -}}
{{ if and (isset .Params "featureimage") (not (eq .Params.featureimage "")) -}}
	<article class="feature-image">
		<header style="background-image: url('{{ .Site.BaseURL }}{{ .Params.featureimage }}')">
			<h1 class="title post-title">{{ .Title }}</h1>
			{{ partial "post-meta" . }}
		</header>
{{- else -}}
	<article>
		<header>
			<div>
				<a href="/"><i class="fas fa-reply"></i></a>&nbsp;&nbsp;
				<a href="{{ $.Site.BaseURL }}" title="{{ $.Site.Data.l10n.homepage }}">
					<i class="fas fa-house"></i>
				</a>
			</div>
			<h1 class="title post-title">{{ .Title }}</h1>
			{{ partial "post-meta" . }}

		</header>
{{- end }}

		<section class="post-content">
			{{ if and (gt .WordCount 400 ) (eq .Params.toc "true") }}
			<aside>
				{{.TableOfContents}}
			</aside>
			{{ end }}

			{{ .Content }}

			{{ if (not (eq .Site.DisqusShortname "")) | and (not .Params.disableComments) }}
			{{ template "_internal/disqus.html" . }}
			{{ end }}
		</section>
	</article>
{{- end }}
